<form action="/admin/add" method="POST">
    <label for="clientID">Client ID</label><input type="text" name="user[clientId]" />
    <label for="securitySalt">SecuritySalt</label><input type="text" name="user[securitySalt]" />
    <input type="submit"/>
</form>